<a href="https://colab.research.google.com/github/sandrakaku/ml0930/blob/master/cluster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.datasets import load_iris
pd.options.display.max_rows = 20
iris = load_iris()
df = pd.DataFrame(iris["data"], columns=iris["feature_names"])
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
# # 預處理: pandas/DataFrame
# # 機器學習: numpy/np.array
# import numpy as np
# from sklearn.model_selection import train_test_split #
# x, y = df.drop(["target"], axis=1), df["target"] #從DataFrame拿出來 
# x, y = np.array(x), np.array(y) #array是答案
# x_train, x_test, y_train, y_test = train_test_split(x, y, 
#                             test_size=0.1,
#                             random_state=0)

In [3]:
from sklearn.cluster import KMeans
cluster = KMeans(n_clusters=3)
cluster.fit(df) #訓練好圓心找好標籤也設好

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [6]:
df["label"] = cluster.labels_ #先把它存起來以後再做後續分類(分類前置動作)
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  label
0                  5.1               3.5  ...               0.2      0
1                  4.9               3.0  ...               0.2      0
2                  4.7               3.2  ...               0.2      0
3                  4.6               3.1  ...               0.2      0
4                  5.0               3.6  ...               0.2      0
..                 ...               ...  ...               ...    ...
145                6.7               3.0  ...               2.3      2
146                6.3               2.5  ...               1.9      1
147                6.5               3.0  ...               2.0      2
148                6.2               3.4  ...               2.3      2
149                5.9               3.0  ...               1.8      1

[150 rows x 5 columns]

In [7]:
cluster.cluster_centers_

array([[5.006     , 3.428     , 1.462     , 0.246     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097],
       [6.85      , 3.07368421, 5.74210526, 2.07105263]])